In [1]:
import numpy as np
import pandas as pd

from datetime import datetime

In [2]:
origins_best_members = (pd.read_excel('../dataset/best_members.xlsx'))
origins_large_families = (pd.read_excel('../dataset/large_families.xlsx'))
origins_guardians = (pd.read_excel('../dataset/guardians.xlsx'))
origins_rewards = (pd.read_excel('../dataset/encouragings.xlsx'))
origins_single_parents_experience = (pd.read_excel('../dataset/single_parents_experience.xlsx'))
origins_registry = (pd.read_excel('../dataset/registry_SKL_DOL.xlsx'))

In [3]:
origins_large_families.head()

   ind    site  id name    date_bth Степень родства ФИ0 ребенка     ch_date
0    1  Кашкай NaN    а  01.05.1977            Дочь         а    05.09.2008
1    2  Кашкай NaN    а  01.05.1977             Сын         а    21.06.2001
2    3  Кашкай NaN    а  01.05.1977            Дочь         а    12.09.2003
3    4  Кашкай NaN    а  01.05.1977            Дочь         а    10.01.2018
4    5  Кашкай NaN    а  02.12.1980             Сын         а    24.12.2003

In [4]:
best_members = origins_best_members.drop(columns=['why', 'data', 'order ', 'subinfo']).dropna()
large_families = origins_large_families.drop(columns=['ind', 'site', 'date_bth', 'Степень родства',
       'ФИ0 ребенка']).dropna()
guardians = origins_guardians.drop(columns=['ind', 'site', 'date_bth', 'Степень родства',
       'ФИ0 ребенка', 'ch_date']).dropna()
rewards = origins_rewards.drop(columns=['ind', 'site', 'data_dr', 'comand', 'status', 'position',
       'func_code', 'func_name', 'access_date', 'dismisы_date', 'paper',
       'причина', 'причина уточн.', 'Кратко', 'Название ставки', 'Категория',
       'Поощрение От', 'Поощрение До', 'Уточнение', 'Основание']).dropna()
single_parents_experience = origins_single_parents_experience.drop(columns=['site', 'date_bth', 'marital_status']).dropna()
registry = origins_registry.copy()

In [5]:
_dataset = [best_members, large_families, guardians, rewards, single_parents_experience, registry]
dataset = []
for data in _dataset:
    data.drop(data[data.id <= 1].index, inplace=True)
    data.drop(data[data.name == 'a'].index, inplace=True)
    data.drop(data[data.name == 'а'].index, inplace=True)
    dataset.append(data)

best_members = dataset[0]
large_families = dataset[1]
guardians = dataset[2]
rewards = dataset[3]
single_parents_experience = dataset[4]
registry = dataset[5]

In [6]:
large_families.head()

               id                             name     ch_date
1864  633524165.0   Энтский Иннокентий Касьянович   01.01.1975
1865  633524165.0   Энтский Иннокентий Касьянович   01.01.1980
1866  633380338.0          Шеломов Эмиль Адамович   01.03.2017
1867  633380338.0          Шеломов Эмиль Адамович   01.03.2017
1868  633524218.0      Петрухин Аркадий Денисович   04.12.1984

In [7]:
def how_years_old(date):
    my_date = datetime.strptime(date, '%d.%m.%Y').date()
    now_date = datetime.today().date()
    hash = now_date.year - my_date.year + 0.1*(now_date.month - my_date.month) + 0.01*(now_date.day - my_date.day)
    return hash

In [8]:
inds_of_adult = []
for i, date in enumerate(large_families.ch_date):
    if (how_years_old(date) >= 18):
        inds_of_adult.append(i)
inds_of_adult[:20]

[0, 1, 4, 5, 9, 20, 21, 22, 23, 26, 27, 30, 31, 32, 39, 43, 44, 46, 47, 48]

In [9]:
large_families = large_families.reset_index()
large_families = large_families.drop(inds_of_adult)
large_families.head()

   index           id                                  name     ch_date
2   1866  633380338.0               Шеломов Эмиль Адамович   01.03.2017
3   1867  633380338.0               Шеломов Эмиль Адамович   01.03.2017
6   1870  633523541.0   Яржемковский Клавдий Сигизмундович   05.07.2009
7   1871  633384737.0             Сомкин Владимир Агапович   25.04.2018
8   1872  633518584.0           Кузубова Варвара Мироновна   09.01.2015

In [10]:
large_families = large_families.reset_index()

In [11]:
len(large_families)

19915

In [12]:
type(large_families.id.unique()[0])

numpy.float64

In [13]:
large_families = large_families.sort_values(by=['id'])
large_families.head()

       level_0  index      id                        name     ch_date
11147    21214  23078  2393.0  Купин Александр Витальевич  13.08.2016
13174    24251  26115  5582.0  Шлыкова Ольга Владимировна  16.06.2009
13173    24250  26114  5582.0  Шлыкова Ольга Владимировна  15.06.2017
13172    24249  26113  5582.0  Шлыкова Ольга Владимировна  11.03.2015
13175    24252  26116  5582.0  Шлыкова Ольга Владимировна  07.11.2012

In [14]:
num_of_children = []
for id in large_families.id.unique():
    num_of_children.append(len(large_families[large_families.id == id]))
num_of_children[:10]

[1, 4, 3, 2, 2, 1, 3, 2, 2, 3]

In [15]:
unic_ids_reg = registry.id.unique().astype(int)
unic_ids_best_members = best_members.id.unique().astype(int)
unic_ids_large_families = best_members.id.unique().astype(int)
unic_ids_guardians = best_members.id.unique().astype(int)
unic_ids_rewards = best_members.id.unique().astype(int)
unic_ids_single_parents_experience = best_members.id.unique().astype(int)

unic_ids = np.unique(np.concatenate((unic_ids_reg, unic_ids_best_members, 
                                    unic_ids_large_families, unic_ids_guardians,
                                    unic_ids_rewards, unic_ids_single_parents_experience),0))

perfect_dataset = pd.DataFrame({'id': unic_ids})
perfect_dataset.head()

                    id
0 -9223372036854775808
1             49999860
2             49999861
3             49999862
4             49999863